<div>
  <div class="row justify-content-center my-1">
    <h1>Find Tasks</h1>
  </div>

  <div class="row col-12 justify-content-between">

    <!-- edit form column -->
    <div class="col-12 col-sm-6 mx-1 mb-5 personal-info">
      <div class="row">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <div class="row justify-content-center">
            <h2 class="px-1">Available tasks</h2>
          </div>

          <div *ngIf="services">
            <div *ngFor="let service of services">
              <app-single-task [service]="service" [mode]="'findTask'"></app-single-task>
            </div>
          </div>

          <div *ngIf="services == undefined || services.length == 0">
            <hr class="col-12 col-sm-6" style="background-color: black">
            <div class="row justify-content-center">
              <h3 class="px-1">There are no tasks available!</h3>
            </div>
          </div>


        </aside>
      </div>
    </div>

    <!--My profile-->
    <div class="col-12 col-sm-5 mx-1">
      <div class="row justify-content-center">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">
          <div class="row justify-content-center">
            <h2 class="px-1">My pending tasks</h2>
          </div>

          <div *ngIf="pendingServices">
            <div *ngFor="let service of pendingServices">
              <app-single-task [service]="service" [mode]="'pendingTask'" (valueChange)="getPendingServices() && getOpenServices()"></app-single-task>
            </div>
          </div>

          <div *ngIf="pendingServices == undefined || pendingServices.length == 0">
            <hr class="col-12 col-sm-6" style="background-color: black">
            <div class="row justify-content-center">
              <h3 class="px-1">You don't have any pending tasks!</h3>
            </div>
          </div>

        </aside>
      </div>
    </div>

  </div>
</div>
