<!--Model Popup starts-->
<div class="container">
  <div class="row">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()"><span>×</span></button>
          </div>

          <div class="modal-body">

            <div class="thank-you-pop">
              <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
              <h1>Success!</h1>
              <h3 class="cupon-pop"><span>{{messageToShow}}</span></h3>

            </div>

          </div>

        </div>
    </div>
  </div>
</div>
<!--Model Popup ends-->
