<!--Model Popup starts-->
<div class="container">
  <div class="row">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeModal()"><span>×</span></button>
        </div>

        <div class="modal-body">

          <div class="thank-you-pop">
            <img src="https://icon2.kisspng.com/20180318/ggq/kisspng-no-symbol-computer-icons-clip-art-image-red-cross-5aadfa29562366.2876331815213512093528.jpg" alt="">
            <h1>Something wrong!</h1>
            <!--<p>Something went wrong!</p>-->
            <h3 class="cupon-pop"><span>{{errorToShow}}</span></h3>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!--Model Popup ends-->

