
body{
  /*z-index: 2;*/
  height:100vh !important;
  width: 100vw !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  transition: all 1s;
  transform-style: preserve-3d;
}

.header{
  grid-column:1/span 3;
  grid-row:  1;
} 

.header, .main, .ad1, .ad2, .ad3{
  z-index: 2;
}

#title{
  grid-row:2;
  grid-column:1/span 3;

}

.main{
  padding-top: 5%;
  grid-column:1/span 3;
  grid-row:  3;

}



#menu {
  grid-column:1/span 2;
  grid-row:2/ span 6;
}

.ad1 {grid-row: 4;
  grid-column:1/span 3;
}
.ad2 {
  grid-row:  5;
  grid-column:1/span 3;
}

/*.ad1, .ad2{
  display:flex;
  flex-flow: column;
  align-self:flex-start;
  justify-self: center;
}*/



.ad3 {
  grid-column:1/span 3;
  grid-row: 6;
/*  display:flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;*/

}



/*
  header styles
*/
header {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menutoggle {
  margin-right: 5%;
  align-self: center;
}

.menutoggle a{
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
}

.active {
  max-height: 100%;
  z-index:999;
  transform: translate3d(0,0,1px);
  transition: transform 5ms ease-in-out, max-height ease-in-out 1s;
  -webkit-transition: transform 5ms ease-in-out, max-height ease-in-out 1s, -webkit-transform 2s;

}

.inactive {
  z-index:999 ;
  max-height: 0vh;
  transform: translate3d(0,0,0);
  transition:  max-height ease-in-out 1s, transform 500ms ease-in-out 1s;
  -webkit-transition:max-height ease-in-out 1s, transform 500ms ease-in-out 1s, -webkit-transform 2s;
}


/*
  Nav styles
*/

nav {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  padding: 0;
  /*padding-top: 90%;*/
  margin: 0;
}

nav ul {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li:hover {
  background-color: #698AAB;
}

nav > ul > li > a {
  width:100%;
  color: #000;
  text-decoration: none;
/*  font-weight: bold;
*/  line-height: 50px;
  letter-spacing: 0px;
    padding-left: 25%;

}

@media only screen and (min-width: 768px){
  body{
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr repeat(3,5fr);
  grid-gap: 0px;
  }

.header{
  grid-column:1/span 4;
  grid-row:  1;
} 

#title{
  grid-column:1/span 4;
  grid-row:  2;  
}

.main{
  grid-template-rows: 1fr 3fr; 
    grid-column:1/span 2;
    grid-row:  3/ span 2;
  }
#menu {
  grid-column:1/span 1;
  grid-row:2/ span 4;
}

.ad1 {grid-row: 3;
  grid-column:3/span 2;
}
.ad2 {
  grid-row:  4;
  grid-column:3/span 2;
}

.ad3 {
  grid-column:1/span 4;
  grid-row: 5;
}

.active {
}

.inactive {
}

}


@media only screen and (min-width: 1024px){
  body{
    /*transition:none;*/
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr repeat(4,3fr);
    grid-column-gap: 2%;
    grid-template-areas: 
          "header header header header header header"
          "menu  title title title title title"
          "menu  ad1   ad1   main  main  main"
          "menu  ad2   ad2   main  main  main"
          "menu  ad2   ad2   main  main  main"
          "menu  ad3   ad3   ad3   ad3   ad3"; 
  }

.header{grid-area: header;}  
.main{grid-area: main;}
#menu {grid-area: menu;}
#title{grid-area:title;}
.ad1 {grid-area: ad1;}
.ad2 {grid-area: ad2;}
.ad3{ grid-area:ad3; }
.foot {grid-area: foot;}
.inactive, .active{ max-height:100vh; }


.main{
  padding:1% 5% 0 5%; 
margin: 1% 3% 0 0}

.ad1{padding:1% 0 1% 5%;
margin: 1.5% 0 1% 0}

/*.ad2{padding:1% 5% 1% 0;*/
/*margin-top: 1%}*/

.ad1, .ad2{
/*  width:75%;
  height:auto;*/

}

.ad3{
  margin: 1% 2% 1% 0;
}


/*#group{
  margin-right: 10%;
}*/




  /* 
    menutoggle styles
  */
  .menutoggle {
    display: none;
  }

  /*
    Nav styles
  */
/*  nav {
    margin-top: 0;
    display: flex;
    flex-flow: row;
    overflow:visible;
    padding-top:0;
    align-items: center;
  }
  nav ul{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 0;
  }
  nav ul li {
    display: flex;
    padding: 1em;
    margin: 0;
    list-style: none;
    justify-content: center;
    border: none;
  }*/

}

@media only screen and (min-width: 1440px){
/*body{
  grid-template-rows: 1fr 1fr 9fr 10fr 1fr;
}

.main{
  padding:1% 15% 0 15%;
}

.ad1{padding:1% 0 1% 15%;}

.ad2{padding:1% 15% 1% 0;}*/

nav > ul > li > a {
    padding-left: 18%;

}

}






