@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');
/*@font-face {*/
    /*font-family: modern-icons;*/
    /*src: url(Modern-Icons.ttf);*/
/*}*/

html {
  box-sizing: border-box;
}

*, 
*:before,
*:after{
  box-sizing: inherit;
}

body{
  background-color: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

h1, h2, h3{
  color:black;
  font-family: 'Share Tech', sans-serif;
}



h1 {
  text-align: left;
  /*text-transform: uppercase;*/
  font-size:36px;
  line-height: 50px;
}

h2{
  font-size: 28px;
  line-height: 40px;
}

h3{
  font-size: 20px;
  line-height: 32px;
}

a{
  text-decoration: none;
  color:#99BADD;
}

a:hover{
  color: #DDB399;
 transition: color 1.5s ease-in;
}

a:active{
  color:#698AAB;
  transition: color 1.5s ease-in;
}

a:visited{
  color:#AA836B;
  transition: color 1.5s ease-in;
}

#forgotPassword:visited{
color:#99BADD;
}

header a, header a:hover, a:active, a:visited{
    font-family: 'Share Tech', sans-serif;

  color: #000;
}

.header, .main, .ad1, .ad2, .ad3, .foot{
/*  padding: 1% 10%;
*/}

.main, .ad1, .ad2, .ad3{
  border-radius: 10px;
}

.header {
  padding: 0.3% 5%;
    background-color: #99BADD;
}

#title{
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  border-radius:4px;
  text-transform: uppercase;
  min-width: 130px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  background: transparent;
  padding: 1% 5% 1% 5%;
  border-color: #99BADD;
}

button:focus{
  border-color:#698AAB ;
}

button:hover{
  background-color: #DDB399;
}

button:disabled{
  color: RGBA(0,0,0,.10);
}

.primaryButton{
padding: 1% 5% 1% 5%;
border:none;
background-color:#99BADD;
}

.primaryButton:hover{
  background-color: #DDB399;
}

.primaryButton:active{
  background-color: #698AAB;
}

.primaryButton:disabled{
  background-color: #CBECFF;
}

header h1{
  line-height: 20px;
  letter-spacing: 10px;
}

header button{
  font-size: 20px;
  line-height: 32px;
  color:black;
  font-family: 'Share Tech', sans-serif;
  border:none;
  background-color:transparent;
}

header button:hover{
  background-color: transparent;
}

.home, .inbox, .chatroom, .tasks, .eDashboard, .settings{
  position: absolute;
  right: 85%;
  font: normal normal normal 24px/7px Ionicons;
}

.home{  
  top: 2%;  
}

.inbox{
  top: 10%;

}

.tasks{
  top: 17%;  
}

.eDashboard{
  top: 24.5%;
}

.chatroom{
  top:32.5%;
}

.settings{
  top:39.5%;
}
/*#menu {
    background-color: #99BADD;
}

nav ul li a{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}*/
.main {

}
.ad1 {
}
.ad2 {

}
.foot {
    background-color: #fff;
}


.icons{
  height:16px;
  width:16px;
  display: flex;
  align-items: center;
  justify-content : center;
}

nav{
  background-color: #99BADD;
}

.activeItem{
  font-weight: bold;
  border-left: 5px solid #AA836B;
  background-color: #698AAB;
}


.main, .ad1, .ad2, .ad3{
-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);}





@media only screen and (min-width: 768px){
.icons{
  height:24px;
  width: 24px;
}
.main figure{
  width: 55%;
}

.header button{
    color:black;
    text-align: left;
  font-size: 20px;
  line-height: 32px;
}

.home, .inbox, .chatroom, .tasks, .eDashboard, .settings{
  right: 75%;}

.home{  
  top: 1%;  
}

.inbox{
  top: 7%;

}

.tasks{
  top: 12%;  
}

.eDashboard{
  top: 17.5%;
}

.chatroom{
  top:23.5%;
}

.settings{
  top:28.5%;
}

}

@media only screen and (min-width: 1024px){
  .header{padding: 0.3% 1%;}

  #title{
    justify-content: flex-start;
  }

.home, .inbox, .chatroom, .tasks, .eDashboard, .settings{
  right: 84%;}

.home{  
  top: 1%;  
}

.inbox{
  top: 5%;

}

.tasks{
  top: 9%;  
}

.eDashboard{
  top: 13%;
}

.chatroom{
  top:17%;
}

.settings{
  top:21%;
}
}

@media only screen and (min-width:1440px){


.home{  
  top: 1.5%;  
}

.inbox{
  top: 9.5%;

}

.tasks{
  top: 17%;  
}

.eDashboard{
  top: 24%;
}

.chatroom{
  top:32%;
}

.settings{
  top:39.5%;
}
}
