<div>
  <div class="row justify-content-center my-1">
    <h1>My Tasks</h1>
  </div>

  <div class="row col-12 justify-content-between">

    <!-- edit form column -->
    <div class="col-12 col-sm-6 mx-1 mb-5 personal-info">
      <div class="row">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <div class="row justify-content-center">
            <h2>My tasks</h2>
          </div>

          <div *ngIf="services">
            <div *ngFor="let service of services">
              <app-single-task [service]="service" [mode]="'myTasks'" (valueChange)="retrieveServices()"></app-single-task>
            </div>
          </div>

          <div *ngIf="services == undefined || services.length == 0">
            <hr class="col-12 col-sm-6" style="background-color: black">
            <div class="row justify-content-center">
              <h3>You don't have any tasks!</h3>
            </div>
          </div>

        </aside>
      </div>
    </div>

    <!--My profile-->
    <div class="col-12 col-sm-5 mx-1">
      <app-add-task (valueChange)="retrieveServices()"></app-add-task>
    </div>

  </div>
</div>
