<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Forgot Password</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="backToSignIn()">
        <span aria-hidden="true">&larr;</span>
      </button>
    </div>

    <div class="modal-body mx-3 mt-4 form-group" [formGroup]="form">

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-envelope pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input matInput
                 type="email"
                 [ngClass]="checkIfEmailCorrect('email') ? 'is-invalid' : ''"
                 class="form-control validate"
                 formControlName="email"
                 placeholder="Email">
          <mat-error *ngFor="let validation of validation_messages.email">
            <mat-error class="pt-1 error-message text-danger"
                       *ngIf="form.get('email').hasError(validation.type) && form.get('email').touched">{{validation.message}}</mat-error>
          </mat-error>

        </div>
      </div>

    <div class="modal-footer display-footer justify-content-center">
      <div class="options text-center text-md-right mt-1">
          <button class="btn btn-outline-primary"
                  (click)="sendEmail()">
            Send
          </button>
      </div>
    </div>

  </div>
</div>
