<div class="container">
  <div class="row">
    <div class="modal-content">
      <div class="modal-header text-center">
        <span class="modal-title w-100 font-weight-bold"><i class="fa fa-bell"></i></span>
        <button type="button" class="close" (click)="closeModal()"><span>×</span></button>
      </div>
      <div class="modal-body">
        <p class="text-center">
          <b>
            From: {{notification.fromUser}}
            <br>
            Topic: {{notification.title}}
            <br>
          </b>
          <i style="color: gray">
            {{date.getDate()}}-{{date.getMonth()+1}}-{{date.getFullYear()}}
          </i>
        </p>
        <p class="text-justify">{{notification.message}}</p>
        <div *ngIf="isTypeAccountAssignmentOffer">
          <div class="float-left">
            <button class="btn bg-success text-white" (click)="acceptCaregiver()">Accept</button>
          </div>
          <div class="float-right">
            <button class="btn bg-danger text-white" (click)="declineCaregiver()">Decline</button>
          </div>
        </div>
        <div *ngIf="isTypeServiceRequested">
          <div class="float-left">
            <button class="btn bg-success text-white" (click)="acceptServiceRequest()">Accept</button>
          </div>
          <div class="float-right">
            <button class="btn bg-danger text-white" (click)="declineServiceRequest()">Decline</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
