<div class="row justify-content-center">
  <aside class="justify-content-center ad2 ml-2 py-3">
    <div class="col-9 task-container">
      <h2 class="text-center">Add Task</h2>
      <form [formGroup]="addForm">

        <div class="row mb-4">
          <div class="col-12 col-md-2 text-center">
            <h6 class="fas fa-tag pt-2 mr-3 grey-text"></h6>
          </div>
          <div class="col-12 col-md-10">
            <input type="text"
                   class="form-control validate"
                   formControlName="title"
                   placeholder="Title">
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-md-2 text-center">
            <h6 class="fas fa-book pt-2 mr-3 grey-text"></h6>
          </div>
          <div class="col-12 col-md-10">
            <input type="text"
                   class="form-control validate"
                   formControlName="description"
                   placeholder="Description">
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-md-2 text-center">
            <h6 class="fas fa-wallet pt-2 mr-3 grey-text"></h6>
          </div>
          <div class="col-12 col-md-10">
            <input type="number"
                   class="form-control validate"
                   formControlName="cost"
                   placeholder="Cost">
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-md-2 text-center">
            <h6 class="fas fa-business-time pt-2 mr-3 grey-text"></h6>
          </div>
          <div class="col-12 col-md-10">
            <input type="number"
                   class="form-control validate"
                   formControlName="duration"
                   placeholder="Duration (minutes)">
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-md-2 text-center">
            <h6 class="fas fa-building pt-2 mr-3 grey-text"></h6>
          </div>
          <div class="col-12 col-md-10">
            <input type="text"
                   class="form-control validate"
                   formControlName="address"
                   placeholder="Address">
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-md-1 text-center">
            <h6 class="fas fa-city pt-2 mr-3 grey-text"></h6>
          </div>
          <div class="col-12 col-md-5">
            <input type="text"
                   class="form-control validate"
                   formControlName="city"
                   placeholder="City">
          </div>

          <div class="col-12 col-md-1 text-center">
            <h6 class="fas fa-mail-bulk pt-2 mr-3 grey-text"></h6>
          </div>
          <div class="col-12 col-md-5">
            <input type="text"
                   class="form-control validate"
                   formControlName="zipcode"
                   placeholder="Zipcode">
          </div>
        </div>
        <div class="task-container">
          <button (click)="onSubmit()" class="btn btn-success">Add</button>
        </div>
      </form>
    </div>
  </aside>
</div>
