<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header text-center border border-info">{{service.title}}</div>
      <div class="card-body border border-info">
        <h4 class="card-title">{{service.description}}</h4>
        <p class="card-text">Address: {{service.address}}; City: {{service.city}}; Zipcode: {{service.zipcode}}</p>
      </div>
      <div *ngIf="mode==='myTasks'" class="card-footer border border-info">
        <div class="float-left">
          <button class="btn btn-success btn-outline-primary" (click)="editService()">Edit</button>
        </div>
        <div class="float-right">
          <button class="btn btn-danger btn-outline-danger" (click)="deleteService()">Delete</button>
        </div>
      </div>
      <div *ngIf="mode==='findTask'" class="card-footer border border-info">
        <div class="float-left">
          <button class="btn btn-outline-primary" (click)="selectService()"> Select</button>
        </div>
        <div class="float-right">
          <button class="btn btn-outline-success" (click)="showOnMap()">Show on map</button>
        </div>
      </div>
      <div *ngIf="mode==='pendingTask'" class="card-footer border border-info">
        <div class="float-left">
          <button class="btn btn-outline-primary" (click)="startService()">Start</button>
        </div>
        <div class="float-right">
          <button class="btn btn-outline-danger" (click)="cancelTask()">Cancel task</button>
        </div>
      </div>
    </div>
  </div>
</div>
