<div>
  <div class="row justify-content-center my-1">
    <h1>History of tasks</h1>
  </div>

  <div class="row justify-content-center">

    <div class="col-10 mx-1 personal-info">
      <div class="row">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <div class="row justify-content-center">
            <h2>History</h2>
          </div>

          <div *ngIf="services">
            <div *ngFor="let service of services">
              <app-single-task [service]="service" [mode]="'tasksHistory'"></app-single-task>
            </div>
          </div>

          <div *ngIf="services == undefined || services.length == 0">
            <hr class="col-6" style="background-color: black">
            <div class="row justify-content-center">
              <h3>You didn't do any tasks in your history. Time to start!</h3>
            </div>
            <div class="row justify-content-center my-2">
              <a [routerLink]="['/home/tasks/find']" [routerLinkActive]="['router-link-active']">
                <button class="btn btn-outline-primary">
                  <i class="fa fa-fw"></i> {{ 'Find tasks' | translate }}
                </button>
              </a>
            </div>
          </div>

        </aside>
      </div>
    </div>

  </div>
</div>
