<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Cancel task</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 mt-4 text-center">
      <h3>Are you sure that your want to delete this connection?</h3>
    </div>
    <div class="row modal-footer display-footer justify-content-between">
      <div class="ml-2 float-left">
        <button class="btn btn-outline-danger" (click)="onSubmit()">Yes</button>
      </div>
      <div class="mr-2 float-right">
        <button class="btn btn-outline-primary" (click)="closeModal()">No</button>
      </div>
    </div>
  </div>
</div>
