<div (click)="onNotificationClick()" class="px-1 py-1 border border-dark" [ngClass]="notificationSnapshot.read ? 'bg-gray text-muted' : ''">
  <li>
    <div class="text-center">
      <i class="fa fa-bell"></i>
    </div>
    <div class="text-center">
      <h5 class="mt-0 mb-1">From: {{notificationSnapshot.fromUser}}</h5>
      <p class="small text-muted"><i class="fa fa-clock-o"></i>{{date}}</p>
      <p class="small mb-0" *ngIf="inHeader">{{shortenMessage}}</p>
      <p class="small mb-0" *ngIf="!inHeader">{{notificationSnapshot.message}}</p>
    </div>
  </li>
</div>


<!--<li class="nav-item dropdown" ngbDropdown>-->
<!--<a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>-->
<!--<i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu-right messages" ngbDropdownMenu>-->
<!--<li class="media">-->
<!--<img class="d-flex align-self-center mr-3"-->
<!--src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"-->
<!--&gt;-->
<!--<div class="media-body">-->
<!--<h5 class="mt-0 mb-1">John Smith</h5>-->
<!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
<!--<p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
