<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold" *ngIf="userRole==='CAREGIVER'">Type phone number of Elderly you want to add:</h4>
      <h4 class="modal-title w-100 font-weight-bold" *ngIf="userRole==='ELDERLY'">Type phone number of Caregiver you want to add:</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&larr;</span>
      </button>
    </div>

    <div class="modal-body mx-3 mt-4 form-group" [formGroup]="form">

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-phone pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <international-phone-number formControlName="phoneNumber"
                                      placeholder="Enter phone number"
                                      [ngClass]="form.controls['phoneNumber'].value === null ? 'is-invalid' : ''"
                                      [maxlength]="20"
                                      [defaultCountry]="['nl', 'ca', 'us', 'pl', 'de']"
                                      [required]="true">
          </international-phone-number>
        </div>
      </div>

      <div class="modal-footer display-footer justify-content-center">
        <div class="options text-center text-md-right mt-1">
          <button class="btn btn-outline-primary"
                  (click)="sendAssignElderlyAccountOffer()"
                  *ngIf="userRole==='CAREGIVER'">
            Send
          </button>
          <button class="btn btn-outline-primary"
                  (click)="sendAssignCaregiverAccountOffer()"
                  *ngIf="userRole==='ELDERLY'">
            Send
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
