<div class="text-center justify-content-center py-2" id="title"><h1>Overview</h1></div>
<div>
  <div class="row justify-content-between ml-2 mr-2">
    <div class="col-12 col-sm-4 mb-5">
      <div class="row justify-content-center">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">
          <app-stat class="mx-auto rounded" [bgClass]="'dark'" [icon]="'fa-money'" [count]="tokensAmount"
                    [label]="'Time tokens'"></app-stat>
        </aside>
      </div>
    </div>
    <div class="col-12 col-sm-7">
      <div class="row">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">
          <app-assigned-elderlies></app-assigned-elderlies>
        </aside>
      </div>
    </div>

  </div>
</div>
