<div class="container" *ngIf="userRole === 'CAREGIVER'">
  <div class="row justify-content-center my-1">
    <h1 *ngIf="!editingElderly">Edit Profile</h1>
    <h1 *ngIf="editingElderly">My elderly page</h1>
  </div>

  <div class="row col-12 justify-content-between">

    <!-- edit form column -->
    <div class="col-12 col-sm-6 mx-1 mb-5 personal-info">
      <div class="row">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <h3>Personal info</h3>
          <hr class="col-12 mb-2">


          <form class="form-horizontal" [formGroup]="form">
            <div class="form-group">
              <label class="pl-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="firstName"
                       [ngClass]="checkIfHighlightError('firstName') ? 'is-invalid' : ''"
                       value="{{firstName}}">
                <mat-error *ngFor="let validation of profile_validation_messages.firstName">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('firstName').hasError(validation.type) && form.get('firstName').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="lastName"
                       [ngClass]="checkIfHighlightError('lastName') ? 'is-invalid' : ''"
                       value="{{lastName}}">
                <mat-error *ngFor="let validation of profile_validation_messages.lastName">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('lastName').hasError(validation.type) && form.get('lastName').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Address:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="address"
                       [ngClass]="checkIfHighlightError('address') ? 'is-invalid' : ''"
                       value="{{address}}">
                <mat-error *ngFor="let validation of profile_validation_messages.address">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('address').hasError(validation.type) && form.get('address').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">City:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="city"
                       [ngClass]="checkIfHighlightError('city') ? 'is-invalid' : ''"
                       value="{{city}}">
                <mat-error *ngFor="let validation of profile_validation_messages.city">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('city').hasError(validation.type) && form.get('city').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Zip code:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="zipcode"
                       [ngClass]="checkIfHighlightError('zipcode') ? 'is-invalid' : ''"
                       value="{{zipCode}}">
                <mat-error *ngFor="let validation of profile_validation_messages.zipcode">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('zipcode').hasError(validation.type) && form.get('zipcode').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-4 control-label">Date of birth:</label>
              <div class="col-lg-8 form-inline">
                <ngx-combo-datepicker
                  placeholder="{{testYear}}, {{testMonth}}, {{testDay}}"
                  [yearOrder]="'desc'"
                  [attrsYear]="{'class': 'form-control mx-2'}"
                  [attrsDate]="{'class': 'form-control mx-2'}"
                  [attrsMonth]="{'class': 'form-control'}"
                  [disabled]="true">
                </ngx-combo-datepicker>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label"></label>
              <div class="col-lg-8 form-inline">
                <ngx-combo-datepicker
                  formControlName="dateOfBirth"
                  [yearOrder]="'desc'"
                  [attrsYear]="{'class': 'form-control mx-2'}"
                  [attrsDate]="{'class': 'form-control mx-2'}"
                  [attrsMonth]="{'class': 'form-control'}">
                </ngx-combo-datepicker>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label"></label>
              <div class="row justify-content-center">
                <button class="btn btn-success"
                        (click)="updateProfile()">
                  Save changes
                </button>
              </div>
            </div>
          </form>
        </aside>
      </div>
    </div>

    <!--My profile-->
    <div class="col-12 col-sm-5 mx-1" *ngIf="!editingElderly">
      <div class="row justify-content-center">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <h3>Account</h3>
          <hr class="col-12 mb-2">

          <form class="form-horizontal" [formGroup]="matching_passwords_group">
            <div class="form-group">
              <label class="pl-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="{{email}}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Current password:</label>
              <div class="col-md-8">
                <input class="form-control"
                       type="password"
                       matInput
                       formControlName="currentPassword"
                       [ngClass]="checkIfPasswordCorrect('password') ? 'is-invalid' : ''"
                       value="">
                <mat-error *ngFor="let validation of profile_validation_messages.password">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="matching_passwords_group.get('currentPassword').hasError(validation.type) && matching_passwords_group.get('currentPassword').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">New password:</label>
              <div class="col-md-8">
                <input class="form-control"
                       type="password"
                       matInput
                       formControlName="password"
                       [ngClass]="checkIfPasswordCorrect('password') ? 'is-invalid' : ''"
                       value="">
                <mat-error *ngFor="let validation of profile_validation_messages.password">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="matching_passwords_group.get('password').hasError(validation.type) && matching_passwords_group.get('password').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Confirm password:</label>
              <div class="col-md-8">
                <input class="form-control"
                       type="password"
                       matInput
                       formControlName="confirmPassword"
                       [ngClass]="(checkIfPasswordCorrect('confirmPassword')) || (matching_passwords_group.hasError('areEqual')
                   && matching_passwords_group.get('confirmPassword').touched) ? 'is-invalid' : ''"
                       [errorStateMatcher]="matcher"
                       value="">
                <mat-error *ngFor="let validation of profile_validation_messages.confirmPassword">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="(matching_passwords_group.get('confirmPassword').hasError(validation.type))
                          && matching_passwords_group.get('confirmPassword').touched">{{validation.message}}</mat-error>
                </mat-error>
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="(matching_passwords_group.hasError('areEqual'))
                          && matching_passwords_group.get('confirmPassword').touched">{{profile_validation_messages.confirmPassword[1].message}}
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label"></label>
              <div class="row justify-content-center">
                <button class="btn btn-outline-primary"
                        (click)="updatePassword()">
                  Update password
                </button>
              </div>
            </div>
          </form>
        </aside>
      </div>
    </div>

    <!--Editing elderly-->
    <div class="col-12 col-sm-5 mx-1" *ngIf="editingElderly">
      <div class="row justify-content-center">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <div class="row justify-content-center">
            <h3>Transfer time tokens</h3>
          </div>
          <hr class="col-12 mb-2">

          <form class="form-horizontal">
            <div class="form-group row justify-content-center">
              <label class="col-12 text-center control-label">Balance:</label>
              <div class="col-10">
                <input class="form-control text-center"
                       type="text"
                       matInput
                       [value]="tokensAmount" readonly>
              </div>
            </div>
            <div class="row justify-content-center">
              <img class="py-2" style="max-width: 128px; max-height: 156px;"
                   src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Circle_arrow_down_font_awesome.svg/512px-Circle_arrow_down_font_awesome.svg.png">
            </div>
            <div class="form-group row justify-content-center">
              <label class="col-12 text-center control-label">Send to my elder:</label>
              <div class="col-10">
                <input class="form-control"
                       type="number"
                       #tokensToSend>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label"></label>
              <div class="row justify-content-center">
                <button class="btn btn-outline-primary"
                        (click)="transferTimetokens()">
                  Transfer timetokens
                </button>
              </div>
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="userRole === 'ELDERLY'">
  <div class="row justify-content-center my-1">
    <h1 *ngIf="!editingElderly">Edit Profile</h1>
    <h1 *ngIf="editingElderly">My caregiver page</h1>
  </div>

  <div class="row col-12 justify-content-between">

    <!-- edit form column -->
    <div class="col-12 mx-1 personal-info">
      <div class="row">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <h3>Personal info</h3>
          <hr class="col-12 mb-2">


          <form class="form-horizontal" [formGroup]="form">
            <div class="form-group">
              <label class="pl-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="firstName"
                       [ngClass]="checkIfHighlightError('firstName') ? 'is-invalid' : ''"
                       value="{{firstName}}"
                       readonly>
                <mat-error *ngFor="let validation of profile_validation_messages.firstName">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('firstName').hasError(validation.type) && form.get('firstName').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="lastName"
                       [ngClass]="checkIfHighlightError('lastName') ? 'is-invalid' : ''"
                       value="{{lastName}}"
                       readonly>
                <mat-error *ngFor="let validation of profile_validation_messages.lastName">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('lastName').hasError(validation.type) && form.get('lastName').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Address:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="address"
                       [ngClass]="checkIfHighlightError('address') ? 'is-invalid' : ''"
                       value="{{address}}"
                       readonly>
                <mat-error *ngFor="let validation of profile_validation_messages.address">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('address').hasError(validation.type) && form.get('address').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">City:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="city"
                       [ngClass]="checkIfHighlightError('city') ? 'is-invalid' : ''"
                       value="{{city}}"
                       readonly>
                <mat-error *ngFor="let validation of profile_validation_messages.city">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('city').hasError(validation.type) && form.get('city').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-3 control-label">Zip code:</label>
              <div class="col-lg-8">
                <input class="form-control"
                       type="text"
                       formControlName="zipcode"
                       [ngClass]="checkIfHighlightError('zipcode') ? 'is-invalid' : ''"
                       value="{{zipCode}}"
                       readonly>
                <mat-error *ngFor="let validation of profile_validation_messages.zipcode">
                  <mat-error class="pt-1 error-message text-danger"
                             *ngIf="form.get('zipcode').hasError(validation.type) && form.get('zipcode').touched">{{validation.message}}</mat-error>
                </mat-error>
              </div>
            </div>
            <div class="form-group">
              <label class="pl-4 control-label">Date of birth:</label>
              <div class="col-lg-8 form-inline">
                <ngx-combo-datepicker
                  placeholder="{{testYear}}, {{testMonth}}, {{testDay}}"
                  [yearOrder]="'desc'"
                  [attrsYear]="{'class': 'form-control mx-2'}"
                  [attrsDate]="{'class': 'form-control mx-2'}"
                  [attrsMonth]="{'class': 'form-control'}"
                  [disabled]="true">
                </ngx-combo-datepicker>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label"></label>
              <!--<div class="row justify-content-center">-->
                <!--<button class="btn btn-danger"-->
                        <!--(click)="deleteConnection()">-->
                  <!--DELETE CONNECTION-->
                <!--</button>-->
              <!--</div>-->
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>
</div>
