<header class="row header py-3 fixed-top" style="z-index: 1000;" id="header">
  <div class="col-1" style="cursor: pointer;" (click)="openDashboard()" id="logo"><h1>PeerCare</h1></div>

  <div class="d-lg-none float-right">
    <ul class="app-color" ngbDropdown>
      <a ngbDropdownToggle>
        <i class="fa fa-bars" style="color: black;"></i>
      </a>
      <div class="dropdown-menu-left" ngbDropdownMenu>
        <a class="dropdown-item list-group-item" [routerLink]="['/home/profile']" (click)="openProfilePage()">
          <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
        </a>
        <a class="dropdown-item list-group-item" [routerLink]="['/home/qrgenerator']" (click)="openQrgeneratorPage()">
          <i class="fa fa-fw fa-user"></i> {{ 'My QR Code' | translate }}
        </a>
        <a *ngIf="userRole == 'CAREGIVER'" class="dropdown-item list-group-item" (click)="openSendAssignElderlyOfferModal()">
          <i class="fa fa-fw fa-plus"></i> {{ 'Add elderly' | translate }}
        </a>
        <a *ngIf="userRole == 'ELDERLY'" class="dropdown-item list-group-item" (click)="openSendAssignElderlyOfferModal()">
          <i class="fa fa-fw fa-plus"></i> {{ 'Add caregiver' | translate }}
        </a>
        <a routerLink="/home/notifications" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-bell"></i>&nbsp;
          <span>{{ 'Notifications' | translate }}</span>
        </a>
        <a routerLink="/home/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-desktop"></i>&nbsp;
          <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/home/tasks']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-list"></i>&nbsp;
          <span>{{ 'My Tasks' | translate }}</span>
        </a>
        <a [routerLink]="['/home/tasks/find']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
          <i class="fa fa-list"></i>&nbsp;
          <span>{{ 'Find Tasks' | translate }}</span>
        </a>
        <a [routerLink]="['/home/tasks/history']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
          <i class="fa fa-list"></i>&nbsp;
          <span>{{ 'Tasks history' | translate }}</span>
        </a>
        <a class="dropdown-item list-group-item" [routerLink]="['/login']" (click)="onLoggedout()">
          <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
        </a>
      </div>
    </ul>
  </div>

  <div class="col-7 d-none d-none d-lg-block">
    <li class="d-inline float-right" ngbDropdown>
      <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
        <i class="fa fa-user"></i> {{firstName}} {{lastName}} <b class="caret"></b>
      </a>
      <div class="dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" [routerLink]="['/home/profile']" (click)="openProfilePage()">
          <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
        </a>
        <a class="dropdown-item" [routerLink]="['/home/qrgenerator']" (click)="openQrgeneratorPage()">
          <i class="fa fa-fw fa-user"></i> {{ 'My QR Code' | translate }}
        </a>
        <a *ngIf="userRole == 'CAREGIVER'" class="dropdown-item list-group-item" (click)="openSendAssignElderlyOfferModal()">
          <i class="fa fa-fw fa-plus"></i> {{ 'Add elderly' | translate }}
        </a>
        <a *ngIf="userRole == 'ELDERLY'" class="dropdown-item list-group-item" (click)="openSendAssignElderlyOfferModal()">
          <i class="fa fa-fw fa-plus"></i> {{ 'Add caregiver' | translate }}
        </a>
        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
          <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
        </a>
      </div>
    </li>
    <li class="d-inline float-right" ngbDropdown>
      <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
        <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
      </a>
      <div class="dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
          {{ 'English' | translate }}
        </a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">
          {{ 'Dutch' | translate }}
        </a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ur')">
          {{ 'Polish' | translate }}
        </a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
          {{ 'Spanish' | translate }}
        </a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')">
          {{ 'German' | translate }}
        </a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh-CHS')">
          {{ 'Simplified Chinese' | translate }}
        </a>
      </div>
    </li>
    <li class="d-inline float-right" ngbDropdown>
      <a class="nav-link" ngbDropdownToggle>
        <span *ngIf="notifications !== null" class="badge bg-danger text-white">{{countUnreadNotifications()}}</span> <i
        class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
      </a>
      <ul id="notificationList" class="dropdown-menu-right px-1" ngbDropdownMenu>
        <div *ngFor="let notification of notifications">
          <app-notification
            [notificationSnapshot]="notification"
            [inHeader]="true">
          </app-notification>
        </div>
        <div *ngIf="notifications==undefined || notifications.length == 0" class="text-center">
          You don't have any notifications!
        </div>
      </ul>
    </li>
  </div>
</header>
