body{
  /*z-index: 2;*/
  height:100vh !important;
  width: 100vw !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  transition: all 1s;
  transform-style: preserve-3d;
}

.header{
  grid-column:1/span 3;
  grid-row:  1;
}

.header, .main, .ad1, .ad2, .ad3, .foot{
  z-index: 2;
}

.main{
  padding-top: 5%;
  grid-column:1/span 3;
  grid-row:  2;
  display: flex;
  align-content: center;
  justify-content: center;

}


/*#menu {
  grid-column:1/span 1;
  grid-row:2/ span 6;
}*/

.ad2 > select{
  margin: 10px 0 12px 0;
  max-width: 100%;
}

.foot {
  grid-column:1/span 3;
  grid-row: 6;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

/*
  header styles
*/
header {
  /*  display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;*/
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5,1fr);
  grid-template-areas:
    "logo logo space register login";
}

#productName{
  display: flex;
  align-self: center;
  justify-self:flex-start;
  grid-area:logo;
}

.register{
  display: flex;
  align-self: center;
  justify-self:flex-end;
  grid-area:register;
}

.logIn{
  display: flex;
  align-self: center;
  justify-self:flex-end;

  grid-area:login;
}

/*.menutoggle {
  margin-right: 5%;
  align-self: center;
}

.menutoggle a{
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
}

.active {
  max-height: 100%;
  z-index:999;
  transform: translate3d(0,0,1px);
  transition: transform 5ms ease-in-out, max-height ease-in-out 1s;
  -webkit-transition: transform 5ms ease-in-out, max-height ease-in-out 1s, -webkit-transform 2s;

}

.inactive {
  z-index:999 ;
  max-height: 0vh;
  transform: translate3d(0,0,0);
  transition:  max-height ease-in-out 1s, transform 500ms ease-in-out 1s;
  -webkit-transition:max-height ease-in-out 1s, transform 500ms ease-in-out 1s, -webkit-transform 2s;
}*/


/*
  Nav styles
*/

nav {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  padding: 0;
  /*padding-top: 90%;*/
  margin: 0;
}

nav ul {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  padding: 1em;
  margin: 0;
  list-style: none;
  justify-content: center;
  text-align:center;
  /*border-bottom: 1px solid black;*/
}

nav ul li:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

nav > ul > li > a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: .34px;
}

@media only screen and (min-width: 768px){
  body{
    /*transition:none;*/
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 4fr 3fr 4fr;
    grid-column-gap: 1px;
    grid-template-areas:
      "title title title title title title"
      "main  main main main main main"
      "ad1 ad1 ad2 ad2 ad3 ad3"
      "foot  foot foot foot foot foot";
  }

  .header{grid-area: title;}
  .main{grid-area: main;}
  .ad1 {grid-area: ad1;}
  .ad2 {grid-area: ad2;}
  .ad3 {grid-area: ad3;}
  .foot {grid-area: foot;}

  .header{padding: 1% 10% 1% 10%;
    grid-template-columns: repeat(10,1fr);
    grid-template-areas:
      "logo logo space space space space space space register login";
  }



  .main{
    padding:1% 10% 1% 10%;
  }

  .ad1{padding:2% 0 1% 10%;}

  .ad2{padding:2% 5% 1% 5%;}

  .ad3{padding:2% 10% 1% 0;}

  .foot{padding:0 10% 1% 10%;}

  .ad1, .ad2, .ad3{
    width:60%;
    height:auto;
    display: flex;
    align-items: center;
    text-align: center;
  }
}


/*#group{
  margin-right: 10%;
}*/


