<header class="grid-item header" id="header">
  <a href="#"><h1 id="productName">PeerCare</h1></a>
  <button class="register float-right ml-3 pl-3" id="registerLink" (click)="openSignUpModal()">Register</button>
  <button class="logIn float-right" id="logInLink" (click)="openSignInModal()">Log in</button>
</header>

<main class="grid-item main">
  <figure class="mt-3" id="headerPic">
    <picture id="header">
      <img src="assets/img/FrontPagePic.svg" alt="frontpagePic">
    </picture>
    <figcaption>
      <h1>
        Helping your elders <br>has never been so easy!
      </h1>
    </figcaption>
  </figure>

</main>

<div class="row">
  <aside class="col-lg-4 col-md-4 col-sm-12 px-5">
    <h2 class="text-center">Help regardless of your location</h2>
    <div class="text-center">
      <figure class="py-4" id="LocationPic">
        <picture>
          <img style="max-width: 400px;" src="assets/img/location.svg" alt="location">
        </picture>
      </figure>
    </div>
    <p class="text-justify">
      We want to support elderly and caregivers by overcoming obstacles of time and place. Remoteness or time zones are
      no
      obstacle for providing help. By conversion providing help is not
      restricted to certain times and dates. Untie your hands!
      <br/>
    </p>
  </aside>
  <aside class="col-lg-4 col-md-4 col-sm-12 px-5">
    <h2 class="text-center">When only time matters</h2>
    <div class="text-center">
      <figure class="py-4" style="margin-left: auto; margin-right: auto" id="TimePic">
        <picture>
          <img style="max-width: 400px;" src="assets/img/time.svg" alt="time">
        </picture>
      </figure>
    </div>
    <p class="text-justify">
      On PeerCare the most valuable good is time. For the tasks money does not of interest, simply time. Overcoming
      lacks
      in financial resources, all you need is time to support others. Fair Care means Share Care.
    </p>

  </aside>
  <aside class="col-lg-4 col-md-4 col-sm-12 px-5">
    <h2 class="text-center">Easy access for everyone</h2>
    <div class="text-center">
      <figure class="py-4" id="AccessiblePic">
        <picture>
          <img style="max-width: 400px;" src="assets/img/accessibility.png" alt="Accessible">
        </picture>
      </figure>
    </div>
    <p class="text-justify">
      At PeerCare we want to ensure easy access for everyone. Not only for the website and handling mobile devices but
      also for the help provision. We are not concentrating on specialisation, tasks can be done by everyone. Everyone
      can
      provide help.
    </p>
  </aside>
</div>

<footer class="grid-item foot">
  <figure id="logoPic">
    <picture id="logo">
      <source media="(max-width: 767px)" srcset="assets/img/logo_320.png">
      <source media="(max-width: 1023px)" srcset="assets/img/logo_640.png">
      <source media="(max-width: 1439px)" srcset="assets/img/logo_1024.png">
      <img src="assets/img/logo_1024.png" alt="Logo">
    </picture>
    <figcaption>
      <h1>
        Spend time, gain time share time.
      </h1>
      <h1>
        Fair Care with PeerCare.
      </h1>
    </figcaption>
  </figure>
  <button id="registerButton" class="primaryButton register px-5" (click)="openSignUpModal()">Register</button>

</footer>
