<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <a routerLink="/home/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-desktop"></i>&nbsp;
      <span>{{ 'Dashboard' | translate }}</span>
    </a>
    <a [routerLink]="['/home/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-user"></i>&nbsp;
      <span>{{ 'My profile' | translate }}</span>
    </a>
    <a routerLink="/home/notifications" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bell"></i>&nbsp;
      <span>{{ 'Notifications' | translate }}</span>
    </a>
    <a [routerLink]="['/home/tasks']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-list"></i>&nbsp;
      <span>{{ 'My Tasks' | translate }}</span>
    </a>
    <a [routerLink]="['/home/tasks/find']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-list"></i>&nbsp;
      <span>{{ 'Find Tasks' | translate }}</span>
    </a>
    <a [routerLink]="['/home/tasks/history']" [routerLinkActive]="['router-link-active']"
       class="list-group-item">
      <i class="fa fa-list"></i>&nbsp;
      <span>{{ 'History' | translate }}</span>
    </a>
    <!--<div class="nested-menu">-->
    <!--<a class="list-group-item" (click)="addExpandClass('pages')">-->
    <!--<i class="fa fa-plus"></i>&nbsp;-->
    <!--<span>{{ 'Tasks' | translate }}</span>-->
    <!--</a>-->
    <!--<li class="nested" [class.expand]="showMenu === 'pages'">-->
    <!--<ul class="submenu">-->
    <!--<li>-->
    <!--<a [routerLink]="['/home/tasks']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
    <!--<i class="fa fa-list"></i>&nbsp;-->
    <!--<span>{{ 'My Tasks' | translate }}</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a [routerLink]="['/home/tasks/find']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
    <!--<i class="fa fa-list"></i>&nbsp;-->
    <!--<span>{{ 'Find Tasks' | translate }}</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a [routerLink]="['/home/tasks/history']" [routerLinkActive]="['router-link-active']"-->
    <!--class="list-group-item">-->
    <!--<i class="fa fa-list"></i>&nbsp;-->
    <!--<span>{{ 'History' | translate }}</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</div>-->
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    <span>{{ 'Collapse Sidebar' | translate }}</span>
  </div>
</nav>
