<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">

  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#">PeerCare</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <button class="btn btn-primary" (click)="openSignInModal()">Sign In</button>
        </li>
        <li class="nav-item mx-2">
          <button class="btn btn-primary" (click)="openSignUpModal()">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>

</nav>

