@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Share+Tech&display=swap);
/*@font-face {*/
/*font-family: modern-icons;*/
/*src: url(Modern-Icons.ttf);*/
/*}*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

body{
  background-color: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

h1, h2, h3{
  color:black;
  font-family: 'Share Tech', sans-serif;
}



h1 {
  text-align: left;
  /*text-transform: uppercase;*/
  font-size:36px;
  line-height: 50px;
}

h2{
  font-size: 28px;
  line-height: 40px;
}

h3{
  font-size: 20px;
  line-height: 32px;
}

a{
  text-decoration: none;
  color:#99BADD;
}

a:hover{
  color: #DDB399;
  transition: color 1.5s ease-in;
}

a:active{
  color:#698AAB;
  transition: color 1.5s ease-in;
}

a:visited{
  color:#AA836B;
  transition: color 1.5s ease-in;
}

#forgotPassword:visited{
  color:#99BADD;
}

header a, header a:hover, a:active, a:visited{
  font-family: 'Share Tech', sans-serif;

  color: #000;
}

.header, .main, .ad1, .ad2, .ad3, .foot{
  padding: 1% 10%;
}

.header {
  padding: 0.3% 5%;
  background-color: #99BADD;
}

button{
  background-color: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  border-radius:4px;
  text-transform: uppercase;
  min-width: 130px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  background: transparent;
  padding: 1% 5% 1% 5%;
  border-color: #99BADD;
}

button:focus{
  border-color:#698AAB ;
}

button:hover{
  background-color: #DDB399;
}

button:disabled{
  color: RGBA(0,0,0,.10);
}

.primaryButton{
  padding: 1% 5% 1% 5%;
  border:none;
  background-color:#99BADD;
}

.primaryButton:hover{
  background-color: #DDB399;
}

.primaryButton:active{
  background-color: #698AAB;
}

.primaryButton:disabled{
  background-color: #CBECFF;
}

header button{
  font-size: 20px;
  line-height: 32px;
  color:black;
  font-family: 'Share Tech', sans-serif;
  border:none;
  background-color:transparent;
}

header button:hover{
  background-color: transparent;
}
/*#menu {
    background-color: #99BADD;
}

nav ul li a{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}*/
.main {
  background-color: #99BADD;

}
.ad1 {
}
.ad2 {

}
.foot {
  background-color: #fff;
}

.foot figure{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  border-style: solid ;
  border-width:1px 0 0 0 ;
}

#logo{
  display: flex;
  /*align-content: center;*/
  /*justify-content: center;*/
  align-self: center;
}

.main figcaption h1{
  text-align: center !important;
}

.foot figcaption h1{
  text-align: center !important;
}

.foot p{
  text-align:center;
}

img {
  width: 100%;
  height:auto;
  margin: 0;
  border-radius: 10px;
}
/*
footer {
}*/

figure{
  width:100%;
  margin:0;
}

/*figcaption{
  font-size: 11px;
}*/

.icons{
  height:16px;
  width:16px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.foot figure picture{
  margin: 5% 0 0 0;}

/*---------input fields--------------------*/
#inLogWelcome{
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.input-container2{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

}
form button{
  max-width: 100%;
}

#noAccountText{
  text-align: center;
}

.icon {
  padding: 10px;
  color: #99BADD;
  min-width: 50px;
  text-align: center;
  font-style:normal;
}

.emailIcon{
  background: url("../../../assets/img/email.svg") no-repeat center;

}

.maleIcon{
  padding-right:15px;
  background: url("../../../assets/img/mars.svg") no-repeat center;

}

.femaleIcon{
  background: url("../../../assets/img/female.svg") no-repeat center;

}

.passwordIcon{
  background: url("../../../assets/img/password.svg") no-repeat center;
}

.phoneIcon{
  background: url("../../../assets/img/phone.svg") no-repeat center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-width: 0 0 2px 0;
  border-color: #000;
}

.input-field:hover{
  border-color:#99BADD;
}

.input-field:focus {
  border-color:#99BADD;
}

.email, .password{
  padding: 0 25px;
}


/*--------------------------------------------*/




@media only screen and (min-width: 768px){
  #inLogWelcome{
    font-size:36px;
    line-height: 50px;
  }
  .icons{
    height:24px;
    width: 24px;
  }
  .main figure{
    width: 55%;
  }

  .header button{
    color:black;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
  }

  .foot figure picture{
    max-width: 322px;
    height:231px;
    margin: 2% 20% 0% 20%;
  }

}
