<div>
  <div class="row justify-content-center my-1">
    <h1>Notifications</h1>
  </div>

  <div class="row justify-content-center">

    <div class="col-10 mx-1 personal-info">
      <div class="row">
        <aside class="justify-content-center col-12 ad2 ml-2 py-3">

          <div class="row justify-content-center">
            <h2>Notifications</h2>
          </div>

          <div *ngIf="notifications">
            <ul id="notificationList" class="dropdown-menu-right px-1 list-unstyled">
              <div *ngFor="let notification of notifications">
                <app-notification
                  [notificationSnapshot]="notification"
                  [inHeader]="false">
                </app-notification>
              </div>
            </ul>
          </div>

          <div *ngIf="notifications == undefined || notifications.length == 0">
            <hr class="col-6" style="background-color: black">
            <div class="row justify-content-center">
              <h3>You don't have any notifications!</h3>
            </div>
          </div>

        </aside>
      </div>
    </div>

  </div>
</div>
