<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Edit task</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 mt-4 form-group" [formGroup]="form">

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-tag pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input type="text"
                 class="form-control validate"
                 formControlName="title"
                 placeholder="Title">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-book pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input type="text"
                 class="form-control validate"
                 formControlName="description"
                 placeholder="Description">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-wallet pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input type="number"
                 class="form-control validate"
                 formControlName="cost"
                 placeholder="Cost">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-business-time pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input type="number"
                 class="form-control validate"
                 formControlName="duration"
                 placeholder="Duration (minutes)">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-building pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input type="text"
                 class="form-control validate"
                 formControlName="address"
                 placeholder="Address">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-city pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-5">
          <input type="text"
                 class="form-control validate"
                 formControlName="city"
                 placeholder="City">
        </div>

        <div class="col-1 text-justify">
          <h6 class="fas fa-mail-bulk pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-5">
          <input type="text"
                 class="form-control validate"
                 formControlName="zipcode"
                 placeholder="Zipcode">
        </div>
      </div>
    </div>
    <div class="modal-footer display-footer justify-content-center">
        <button (click)="onSubmit()" class="btn btn-success">Edit task</button>
    </div>
  </div>
</div>
