<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Set a new password</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body mx-3 mt-4 form-group" [formGroup]="form">
      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-lock pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input matInput
                 type="password"
                 [ngClass]="checkIfPasswordCorrect('password') ? 'is-invalid' : ''"
                 class="form-control validate"
                 formControlName="password"
                 placeholder="Password">
          <mat-error *ngFor="let validation of validation_messages.password">
            <mat-error class="pt-1 error-message text-danger"
                       *ngIf="form.get('password').hasError(validation.type) && form.get('password').touched">{{validation.message}}</mat-error>
          </mat-error>

        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1 text-justify">
          <h6 class="fas fa-lock pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-11">
          <input matInput
                 type="password"
                 [ngClass]="(checkIfPasswordCorrect('confirmPassword')) || (form.hasError('areEqual')
                   && form.get('confirmPassword').touched) ? 'is-invalid' : ''"
                 class="form-control validate"
                 formControlName="confirmPassword"
                 [errorStateMatcher]="matcher"
                 placeholder="Confirm password">
          <mat-error *ngFor="let validation of validation_messages.confirmPassword">
            <mat-error class="pt-1 error-message text-danger"
                       *ngIf="(form.get('confirmPassword').hasError(validation.type))
                          && form.get('confirmPassword').touched">{{validation.message}}</mat-error>
          </mat-error>
          <mat-error class="pt-1 error-message text-danger"
                     *ngIf="(form.hasError('areEqual'))
                          && form.get('confirmPassword').touched">{{validation_messages.confirmPassword[1].message}}
          </mat-error>
        </div>
      </div>

  </div>
    <div class="modal-footer display-footer justify-content-center">
      <div class="options text-center text-md-right mt-1">
        <button class="btn btn-outline-primary"
                [disabled]="isPasswordIncorrect()"
                (click)="setNewPassword()">
          Set
        </button>
      </div>
    </div>

  </div>
</div>
