<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 form-group">

      <div class="row mb-4">
        <div class="col-12">
          <progress-bar [progress]="progressBar" [color]="'#488aff'">
          </progress-bar>
        </div>
      </div>

      <div [hidden]="isFirstNotVisible">
        <form [formGroup]="form">

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-user pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 text-center">
              <input type="text"
                     [ngClass]="checkIfHighlightError('firstName') ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="firstName"
                     placeholder="First name">
              <mat-error *ngFor="let validation of account_validation_messages.firstName">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="form.get('firstName').hasError(validation.type) && form.get('firstName').touched">{{validation.message}}</mat-error>
              </mat-error>

            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-user pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 text-center">
              <input type="text"
                     [ngClass]="checkIfHighlightError('lastName') ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="lastName"
                     placeholder="Last name">
              <mat-error *ngFor="let validation of account_validation_messages.lastName">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="form.get('lastName').hasError(validation.type) && form.get('lastName').touched">{{validation.message}}</mat-error>
              </mat-error>

            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-building pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 text-center">
              <input type="text"
                     [ngClass]="checkIfHighlightError('address') ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="address"
                     placeholder="Address">
              <mat-error *ngFor="let validation of account_validation_messages.address">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="form.get('address').hasError(validation.type) && form.get('address').touched">{{validation.message}}</mat-error>
              </mat-error>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-city pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-5 text-center">
              <input type="text"
                     [ngClass]="checkIfHighlightError('city') ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="city"
                     placeholder="City">
              <mat-error *ngFor="let validation of account_validation_messages.city">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="form.get('city').hasError(validation.type) && form.get('city').touched">{{validation.message}}</mat-error>
              </mat-error>
            </div>

            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-mail-bulk pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-5 text-center">
              <input type="text"
                     [ngClass]="checkIfHighlightError('zipcode') ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="zipcode"
                     placeholder="Zipcode">
              <mat-error *ngFor="let validation of account_validation_messages.zipcode">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="form.get('zipcode').hasError(validation.type) && form.get('zipcode').touched">{{validation.message}}</mat-error>
              </mat-error>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-calendar-alt pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 form-inline text-center">
              <h6 class="pr-3 mt-1">Date of birth:</h6>
              <ngx-combo-datepicker
                formControlName="dateOfBirth"
                [ngClass]="form.controls['dateOfBirth'].value === null ? 'is-invalid' : ''"
                [yearOrder]="'desc'"
                [attrsYear]="{'class': 'form-control mx-2'}"
                [attrsDate]="{'class': 'form-control mx-2'}"
                [attrsMonth]="{'class': 'form-control'}">
              </ngx-combo-datepicker>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-phone pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 form-inline justify-content-center justify-content-sm-start text-center">
              <international-phone-number formControlName="phoneNumber"
                                          placeholder="Enter phone number"
                                          [ngClass]="form.controls['phoneNumber'].value === null ? 'is-invalid' : ''"
                                          [maxlength]="20"
                                          [defaultCountry]="['nl', 'ca', 'us', 'pl', 'de']"
                                          [required]="true">

              </international-phone-number>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 justify-content-center text-center">
              <h6 class="fas fa-cog pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 form-inline justify-content-center text-center">
              <input class="px-1" type="radio" name="role" value='CAREGIVER' formControlName="role">Caregiver
              <span class="px-3"></span>
              <input class="px-1" type="radio" name='role' value='ELDERLY' formControlName="role">Elderly
            </div>
          </div>

          <div class="float-right">
            <button class="btn btn-outline-primary" (click)="checkWhichStepAndMove(false)">Next</button>
          </div>

        </form>
      </div>

      <div [hidden]="isSecondNotVisible">
        <form [formGroup]="matching_email_group">

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-envelope pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 text-center">
              <input matInput
                     type="email"
                     [ngClass]="checkIfEmailCorrect('email') ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="email"
                     placeholder="Email">
              <mat-error *ngFor="let validation of account_validation_messages.email">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="matching_email_group.get('email').hasError(validation.type) && matching_email_group.get('email').touched">{{validation.message}}</mat-error>
              </mat-error>

            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-envelope pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 text-center">
              <input matInput
                     type="email"
                     [ngClass]="(checkIfEmailCorrect('confirmEmail')) || (matching_email_group.hasError('areEqual')
                   && matching_email_group.get('confirmEmail').touched) ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="confirmEmail"
                     [errorStateMatcher]="matcher"
                     placeholder="Confirm email">
              <mat-error *ngFor="let validation of account_validation_messages.confirmPassword">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="(matching_email_group.get('confirmEmail').hasError(validation.type))
                          && matching_email_group.get('confirmEmail').touched">{{validation.message}}</mat-error>
              </mat-error>
              <mat-error class="pt-1 error-message text-danger"
                         *ngIf="(matching_email_group.hasError('areEqual'))
                          && matching_email_group.get('confirmEmail').touched">{{account_validation_messages.confirmEmail[1].message}}
              </mat-error>
            </div>
          </div>

        </form>

        <form [formGroup]="matching_passwords_group">

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-lock pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 text-center">
              <input matInput
                     type="password"
                     [ngClass]="checkIfPasswordCorrect('password') ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="password"
                     placeholder="Password">
              <mat-error *ngFor="let validation of account_validation_messages.password">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="matching_passwords_group.get('password').hasError(validation.type) && matching_passwords_group.get('password').touched">{{validation.message}}</mat-error>
              </mat-error>

            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-1 text-center">
              <h6 class="fas fa-lock pt-2 mr-3 grey-text"></h6>
            </div>
            <div class="col-12 col-sm-11 text-center">
              <input matInput
                     type="password"
                     [ngClass]="(checkIfPasswordCorrect('confirmPassword')) || (matching_passwords_group.hasError('areEqual')
                   && matching_passwords_group.get('confirmPassword').touched) ? 'is-invalid' : ''"
                     class="form-control validate"
                     formControlName="confirmPassword"
                     [errorStateMatcher]="matcher"
                     placeholder="Confirm password">
              <mat-error *ngFor="let validation of account_validation_messages.confirmPassword">
                <mat-error class="pt-1 error-message text-danger"
                           *ngIf="(matching_passwords_group.get('confirmPassword').hasError(validation.type))
                          && matching_passwords_group.get('confirmPassword').touched">{{validation.message}}</mat-error>
              </mat-error>
              <mat-error class="pt-1 error-message text-danger"
                         *ngIf="(matching_passwords_group.hasError('areEqual'))
                          && matching_passwords_group.get('confirmPassword').touched">{{account_validation_messages.confirmPassword[1].message}}
              </mat-error>
            </div>
          </div>

        </form>

        <div class="float-left">
          <button class="btn btn-outline-primary" (click)="checkWhichStepAndMove(true)">Back</button>
        </div>
        <div class="float-right">
          <button class="btn btn-outline-primary" (click)="checkWhichStepAndMove(false)">Next</button>
        </div>
      </div>

      <div [hidden]="isThirdNotVisible">

        <div class="row justify-content-center my-4">
          <h5 [hidden]="!ifThereAreAnyErrors()">Fill everything and do it correctly!!</h5>
          <h5 [hidden]="ifThereAreAnyErrors()">Everything is fine and you can sign up!!</h5>
        </div>

        <div class="mt-4">
          <div class="float-left">
            <button class="btn btn-outline-primary" (click)="checkWhichStepAndMove(true)">Back</button>
          </div>
          <div class="float-right">
            <button class="btn btn-outline-primary"
                    [ngClass]="ifThereAreAnyErrors() ? 'disabled' : null"
                    [disabled]="ifThereAreAnyErrors()"
                    (click)="createNewAccount()">
              Sign up
            </button>
          </div>
        </div>
      </div>

    </div>
    <!--<div class="modal-footer d-flex justify-content-center">-->
    <!--<button class="btn btn-outline-primary"-->
    <!--[hidden]="ifThereAreAnyErrors()"-->
    <!--(click)="createNewAccount()">-->
    <!--Sign up-->
    <!--</button>-->
    <!--<h5 [hidden]="!ifThereAreAnyErrors()">Fill everything and do it correctly!!</h5>-->
    <!--</div>-->
  </div>
</div>
