<div *ngIf="userRole==='CAREGIVER'">
  <div class="justify-content-center">
    <div class="text-center justify-content-center pt-2" id="title"><h1>Assigned Elderlies</h1></div>
    <!--<hr class="col-6 text-center" style="background-color: black">-->
  </div>
  <div *ngIf="users!=undefined">
    <div class="justify-content-center" *ngFor="let elderly of users">
      <div class="row justify-content-center">
        <app-elderly-card class="col-8 rounded my-1" [bgClass]="'info'" [icon]="'fa-user'" [elderly]="elderly">
        </app-elderly-card>
      </div>
    </div>
  </div>
  <div *ngIf="users==undefined || users.length == 0">
    <hr class="col-6" style="background-color: black">
    <div class="row justify-content-center">
      <h3 class="px-2">Assign elderly to your account!</h3>
    </div>
    <div class="row justify-content-center my-2">
      <button class="btn btn-outline-primary" (click)="openSendAssignElderlyOfferModal()">
        <i class="fa fa-fw fa-plus"></i> {{ 'Add elderly' | translate }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="userRole==='ELDERLY'">
  <div class="justify-content-center">
    <div class="text-center justify-content-center pt-2" id="title"><h1>Assigned Caregivers</h1></div>
    <!--<hr class="col-6 text-center" style="background-color: black">-->
  </div>
  <div *ngIf="users!=undefined">
    <div class="justify-content-center" *ngFor="let caregiver of users">
      <div class="row justify-content-center">
        <app-elderly-card class="col-8 rounded my-1" [bgClass]="'info'" [icon]="'fa-user'" [elderly]="caregiver">
        </app-elderly-card>
      </div>
    </div>
  </div>
  <div *ngIf="users==undefined || users.length==0">
    <hr class="col-6" style="background-color: black">
    <div class="row justify-content-center">
      <h3 class="px-2">Assign caregivers to your account!</h3>
    </div>
    <div class="row justify-content-center my-2">
      <button class="btn btn-outline-primary" (click)="openSendAssignElderlyOfferModal()">
        <i class="fa fa-fw fa-plus"></i> {{ 'Add caregiver' | translate }}
      </button>
    </div>
  </div>
</div>
