<div class="row justify-content-center">
  <!--<div class="col-12">-->
    <!--<div class="row justify-content-center my-1">-->
      <!--<h1>My QR code</h1>-->
    <!--</div>-->
  <!--</div>-->
  <aside class="row justify-content-center ad2 py-3 px-3">
    <qrcode [qrdata]="userId" [size]="256" [level]="'M'"></qrcode>
  </aside>
</div>
