<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 mt-4 form-group" [formGroup]="form">

      <div class="row mb-4">
        <div class="col-12 col-sm-1 text-center">
          <h6 class="fas fa-envelope pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-12 col-sm-11 text-center">
          <input matInput
                 type="email"
                 [ngClass]="checkIfCorrect('email') ? 'is-invalid' : ''"
                 class="form-control validate"
                 formControlName="email"
                 placeholder="Email">
          <mat-error *ngFor="let validation of account_validation_messages.email">
            <mat-error class="pt-1 error-message text-danger"
                       *ngIf="form.get('email').hasError(validation.type) && form.get('email').touched">{{validation.message}}</mat-error>
          </mat-error>

        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 col-sm-1 text-center">
          <h6 class="fas fa-lock pt-2 mr-3 grey-text"></h6>
        </div>
        <div class="col-12 col-sm-11 text-center">
          <input matInput
                 type="password"
                 [ngClass]="checkIfCorrect('password') ? 'is-invalid' : ''"
                 class="form-control validate"
                 formControlName="password"
                 placeholder="Password">
          <mat-error *ngFor="let validation of account_validation_messages.password">
            <mat-error class="pt-1 error-message text-danger"
                       *ngIf="form.get('password').hasError(validation.type) && form.get('password').touched">{{validation.message}}</mat-error>
          </mat-error>

        </div>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-outline-primary"
              (click)="login()">
        Sign in
      </button>
    </div>

    <div class="modal-footer display-footer">
      <div class="options text-center text-md-right mt-1">
        <p>Not a member?
          <button class="btn btn-outline-primary"
                  (click)="openSignUpModal()">
            Sign Up
          </button>
        </p>
        <p>
          <button class="btn btn-outline-primary"
                  (click)="openForgotPasswordModal()">
            Forgot Password
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
